/* Reset */
html {
    font-size: 62.5%;
}

* {
    Margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Fondo */
body {
    background-image: url(../img/fondo/fondo1.jpg);
}


/* Declaracion de fuente */
@font-face {
    font-family: sansation;
    src: url(fonts/sansation.ttf);
}





/* Estilos h1 - h2 - h3 */
h1 {
    font-family: sansation;
    font-size: 2rem;
    color: aliceblue;
}

h2 {
    font-size: 4rem;
    font-family: sansation;
    text-align: center;
}

h3 {
    font-size: 2rem;
    font-family: sansation;
    text-align: center;
}


Estructura de la pagina
#contenedor {
    display: grid;
    grid-template-areas:
        "navegador"
        "header"
        "principal"
        "pie"
    ;
    grid-template-columns: 100%;
    grid-template-rows: auto auto minmax(600px auto) 8rem;
}


/* Header */
header {
    grid-area: header;
    display: flex;
    justify-content: center;
}


@media (max-width: 480px) {
    .banner {
        margin-top: 15rem;
    }

}

/* Carrousel */
.carousel{
    margin-top: 17rem;
}


/* Principal */
.main {
    grid-area: principal;
}


/* Contacto */
#contacto {
    scroll-margin-top: 17ex;
    margin-top: 12rem;
    margin-bottom: 6rem;
}


.contact {
    display: flex;
    justify-content: center;
}

.form {
    font-family: sansation;
    font-size: 1.5rem;
    text-decoration: underline;
}

.marginContact {
    margin-left: 1rem;
}

.marginContact1 {
    margin-left: 9.4rem;
}




