
/* Fondo */
body {
    background-image: url(../img/fondo/fondo1.webp);
}


/* Estilos h1 - h2 - h3 */
h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: aliceblue;
}

h2 {
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

h3 {
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}


// Estructura de la pagina
#contenedor {
    display: grid;
    grid-template-areas:
        "navegador"
        "header"
        "principal"
        "pie"
    ;
    grid-template-columns: 100%;
    grid-template-rows: auto auto minmax(600px auto) 8rem;
}


/* Header */
header {
    grid-area: header;
    display: flex;
    justify-content: center;
}
/* Principal */
.main {
    grid-area: principal;
}
