/* Carrousel */
.carousel {
    .carousel {
        margin-top: 17rem;
    }
}


// Nosotros
#nosotros {
    scroll-margin-top: 25ex;

    .simbolosNos {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 30rem;
            height: 30rem;
            padding: 2rem;
            margin-top: 5rem;

        }

        :hover {
            transform: scale(1.02);
        }
    }
}

.explicacionNos {
    width: $total;
    margin-top: 12rem;

    .flexNos {
        margin-top: 4rem;


    }

    .flexImgNos {
        scroll-margin-top: 40ex;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;

        img {
            width: 40%;
            height: 40%;
            margin: 2rem;
            border-radius: 5rem;
            padding: 1rem;
            background-color: gray;
        }

        .imgPosicionamiento {
            width: 90%;
        }
    }

    .parrafoNos {
        display: flex;
        justify-content: center;
        align-items: center;
        width: $medio;

    }

    h3 {
        font-size: 3rem;
        margin-top: 16rem;
    }

    p {
        font-size: 1.8rem;
        margin: 3rem;
        padding: 3rem;
    }

}

.titleNos {
    margin-top: 18rem;
}

@include responsive (tablet) {
    .simbolosNos {
        flex-direction: column;

    }

    .flexNos {
        flex-direction: column;


    }

    .flexImgNos {
        flex-direction: column;

        img {
            width: 90% !important;
            height: 90% !important;
        }

    }

}


/* Productos */
#productos {
    scroll-margin-top: 25ex;

    h2 {
        margin-top: 17rem;
        margin-bottom: 6rem;
    }

    h3 {
        margin-top: 4rem;
    }

}

.prodDiv1 {
    display: flex;
    justify-content: center;
    margin-top: 5rem;

    img {
        width: 60%;
        border-style: outset;
        border-color: rgb(181, 181, 181);
    }
}


.parrafoProd {
    p {
        font-family: 'Saira Condensed', sans-serif;
        font-size: 1.8rem;
        padding: 3rem;
        margin-bottom: 2rem;
        text-align: justify;

    }

}

.divImgChicas {
    display: flex;

    img {
        width: $total;
        height: $total;
        padding: 1rem;
    }

    img:hover {
        transform: scale(1.2);
    }
}


// Clientes
#clientes {
    scroll-margin-top: 25ex;
    margin-top: 10rem;
    margin-bottom: 5rem;
}


.clientes {
    display: flex;
    justify-content: space-around;

    .descripClientes {
        width: $medio;

        h3 {
            margin-top: 2rem;
            font-size: 2.5rem;
        }

        p {
            padding: 2rem;
            font-style: italic;
            margin: 2rem;
            font-size: 2rem;
            text-align: center;
        }
    }

    .carouselClientes {
        width: $medio;

        .carousel {
            margin-top: 3rem;
            margin-bottom: 3rem;
            margin-left: 2rem;
            width: $grande;
            height: $grande;
        }

        img {
            width: $grande;
            height: $grande;
        }

    }
}

@include responsive (tablet) {

    .clientes {
        flex-direction: column;
        align-items: center;
    }
}


/* Tienda */
#tienda {
    scroll-margin-top: 25ex;

    h2 {
        margin-top: 15rem;
        margin-bottom: 6rem;
    }

    h3 {
        font-size: 2rem;
        margin-bottom: 2rem;

    }

    .enlacesTienda {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .upTiend {
        display: flex;
        justify-content: center;

        p {
            font-family: 'Montserrat', sans-serif;
            font-size: 2rem;
            font-style: italic;
            padding: 2rem;
            margin-top: 2rem;

        }
    }

    .cardsTienda {
        padding: 2rem;
        width: $chico;

        :hover {
            transform: scale(1.1);
        }
    }

    img {
        width: $total;
        height: $total;
        border-style: outset;
        border-color: rgb(181, 181, 181);
    }

    @include responsive (tablet) {

        .enlacesTienda {
            flex-direction: column;
            align-items: center;
        }

        .cardsTienda {
            width: $medio;
        }
    }

}

/* Contacto */
#contacto {
    scroll-margin-top: 25ex;
    margin-top: 10rem;
    margin-bottom: 6rem;

}

.redesContacto {
    display: flex;
    justify-content: space-around;

    img {
        width: 9rem;
        height: 9rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    a {
        :hover {
            transform: scale(1.05);
        }

    }
}

.mt-4 {
    padding: 2rem;
}

label {
    font-size: large;
    margin-bottom: 1rem;
    margin-top: 2rem;

}

::placeholder {
    font-size: 1.2rem;
}

@include responsive (tablet) {

    .redesContacto {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}



/* Footer */
.container-fluid {
    grid-area: pie;
    margin-top: 10rem;
    background-color: rgb(83, 83, 83);
    margin-top: 10rem;
    height: 8rem;
    width: $total;

    h4 {
        font-size: 1.5rem;
        font-family: 'Poppins', sans-serif;
        color: aliceblue;
    }

    h3 {
        height: 3rem;
        color: aliceblue;
    }
}

.logoFooter {
    width: 6rem;
}