/* Reset */
/* line 2, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_reset.scss */
html {
  font-size: 62.5%;
}

/* line 6, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_reset.scss */
* {
  Margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fondo */
/* line 3, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_estructura.scss */
body {
  background-image: url(../img/fondo/fondo1.webp);
}

/* Estilos h1 - h2 - h3 */
/* line 9, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_estructura.scss */
h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  color: aliceblue;
}

/* line 15, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_estructura.scss */
h2 {
  font-size: 4rem;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

/* line 21, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_estructura.scss */
h3 {
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

/* line 29, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_estructura.scss */
#contenedor {
  display: grid;
  grid-template-areas: "navegador"
 "header"
 "principal"
 "pie";
  grid-template-columns: 100%;
  grid-template-rows: auto auto minmax(600px auto) 8rem;
}

/* Header */
/* line 43, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_estructura.scss */
header {
  grid-area: header;
  display: flex;
  justify-content: center;
}

/* Principal */
/* line 49, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_estructura.scss */
.main {
  grid-area: principal;
}

/* Nav */
/* line 2, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_nav.scss */
.navbar {
  grid-area: navegador;
  position: fixed;
  width: 100%;
  font-size: large;
  font-family: sansation;
  z-index: 1;
  background-image: url(../img/fondo/nav.webp);
}

/* line 12, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_nav.scss */
.navbar .logo {
  width: 6rem;
}

/* line 20, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_nav.scss */
.navbar-nav a {
  margin: 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 597;
}

/* line 28, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_nav.scss */
.nav-link {
  color: white;
}

/* line 33, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_nav.scss */
.nav-link :hover {
  color: #030303;
  transform: scale(1.1);
}

/* Carrousel */
/* line 2, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
.carousel {
  margin-top: 17rem;
}

/* line 7, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
#nosotros {
  scroll-margin-top: 25ex;
}

/* line 10, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
#nosotros section {
  background-image: url(../img/fondo/secciones.webp);
  border-radius: 30px;
}

/* line 15, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
#nosotros .simbolosNos {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 20, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
#nosotros .simbolosNos img {
  width: 30rem;
  height: 30rem;
  padding: 2rem;
  margin-top: 5rem;
}

/* line 28, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
#nosotros .simbolosNos :hover {
  transform: scale(1.02);
}

/* line 34, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
.explicacionNos {
  width: 100%;
  margin-top: 12rem;
}

/* line 38, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
.explicacionNos .flexNos {
  margin-top: 4rem;
}

/* line 44, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
.explicacionNos .flexImgNos {
  scroll-margin-top: 40ex;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

/* line 51, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
.explicacionNos .flexImgNos img {
  width: 30rem;
  height: 30rem;
  padding: 2rem;
}

/* line 59, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
.explicacionNos .parrafoNos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

/* line 67, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
.explicacionNos h3 {
  font-size: 3rem;
  margin-top: 16rem;
}

/* line 72, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
.explicacionNos p {
  font-size: 1.8rem;
  margin: 4rem;
  padding: 2rem;
}

/* line 80, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
.titleNos {
  margin-top: 18rem;
}

@media (max-width: 768px) {
  /* line 85, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
  .simbolosNos {
    flex-direction: column;
  }
  /* line 90, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
  .flexNos {
    flex-direction: column;
  }
  /* line 94, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
  .flexImgNos {
    flex-direction: column;
  }
}

/* Productos */
/* line 102, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
#productos {
  scroll-margin-top: 25ex;
}

/* line 105, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
#productos h2 {
  margin-top: 17rem;
  margin-bottom: 6rem;
}

/* line 110, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
#productos h3 {
  margin-top: 4rem;
}

/* line 114, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
#productos section {
  background-image: url(../img/fondo/secciones.webp);
  border-radius: 30px;
}

/* line 121, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
.prodDiv1 {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/* line 127, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
.prodDiv1 img {
  width: 100%;
  height: 100%;
}

/* line 135, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
.parrafoProd p {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 1.8rem;
  padding: 3rem;
  margin-bottom: 2rem;
  text-align: justify;
}

/* line 146, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
.divImgChicas {
  display: flex;
}

/* line 149, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
.divImgChicas img {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

/* line 155, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
.divImgChicas img:hover {
  transform: scale(1.5);
}

/* Clientes */
/* line 162, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
#clientes {
  scroll-margin-top: 45ex;
}

/* line 165, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
#clientes h2 {
  margin-bottom: 8rem;
  margin-top: 12rem;
}

/* line 170, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
#clientes .pClient {
  display: flex;
  justify-content: center;
}

/* line 175, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
#clientes p {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  padding: 2rem;
  margin-top: 2rem;
}

/* line 182, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
#clientes section {
  background-image: url(../img/fondo/secciones.webp);
  border-radius: 30px;
}

/* line 189, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
.clientes1 {
  display: flex;
  justify-content: center;
}

/* line 193, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
.clientes1 img {
  width: 50rem;
  height: 50rem;
  padding: 5rem;
}

/* line 202, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
.clientes2 {
  display: flex;
  justify-content: center;
}

/* line 206, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
.clientes2 img {
  width: 20rem;
  height: 20rem;
  padding: 1rem;
}

@media (max-width: 768px) {
  /* line 217, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
  .clientes1,
  .clientes2 {
    flex-direction: column;
    align-items: center;
  }
}

/* Tienda */
/* line 226, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
#tienda {
  scroll-margin-top: 25ex;
}

/* line 229, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
#tienda h2 {
  margin-top: 15rem;
  margin-bottom: 6rem;
}

/* line 234, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
#tienda h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

/* line 240, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
#tienda section {
  background-image: url(../img/fondo/secciones.webp);
  border-radius: 30px;
}

/* line 245, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
#tienda .enlacesTienda {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 252, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
#tienda .upTiend {
  display: flex;
  justify-content: center;
}

/* line 256, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
#tienda .upTiend p {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  padding: 2rem;
  margin-top: 2rem;
}

/* line 264, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
#tienda .cardsTienda {
  padding: 2rem;
  width: 25%;
}

/* line 268, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
#tienda .cardsTienda :hover {
  transform: scale(1.1);
}

/* line 273, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
#tienda img {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

@media (max-width: 768px) {
  /* line 281, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
  #tienda .enlacesTienda {
    flex-direction: column;
    align-items: center;
  }
  /* line 286, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
  #tienda .cardsTienda {
    width: 85%;
  }
}

/* Footer */
/* line 295, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
.container-fluid {
  grid-area: pie;
  margin-top: 10rem;
  background-color: #535353;
  margin-top: 10rem;
  height: 8rem;
  width: 100%;
}

/* line 303, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
.container-fluid h4 {
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  color: aliceblue;
}

/* line 309, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
.container-fluid h3 {
  height: 3rem;
  color: aliceblue;
}

/* line 315, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
.logoFooter {
  width: 6rem;
}

/* line 319, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
.redesSoc {
  display: flex;
  justify-content: flex-end !important;
}

/* Contacto */
/* line 326, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
#contacto {
  scroll-margin-top: 25ex;
  margin-top: 10rem;
  margin-bottom: 6rem;
}

/* line 333, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
.redesContacto {
  display: flex;
  justify-content: space-around;
}

/* line 337, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
.redesContacto div {
  width: 3fr;
}

/* line 341, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
.redesContacto img {
  width: 12rem;
  height: 12rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* line 349, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
.redesContacto a :hover {
  transform: scale(1.05);
}

/* line 356, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
.mt-4 {
  padding: 2rem;
}

/* line 359, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
.mt-4 label {
  font-size: large;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

/* line 366, ../../2da entrega proyecto final - copia/Frama-Sublimables/scss/_secciones.scss */
.mt-4 ::placeholder {
  font-size: 1.2rem;
}

/*# sourceMappingURL=styles.css.map */